

body{
  padding: 25px;
  font-size: 125%;
  font-family: arial;
 ;
}
.title {
	color: #5C6AC4;
}

a:link {
  color: ashwhite; /* Default link color */
}

a:visited {
  color: red; /* Color after the link has been visited */
}
a {
  color: blue;
}
@media (prefers-color-scheme: dark) {
  a {
    color: #80bfff;
  }
}
